<h1>Create a new item:</h1>

<form class="" action="/items" method="post">
  <label for="">Title</label>
  <input type="text" name="title" value="">
  
  <input type="submit" name="" value="Create item">
</form>