<div class="container">
  <img src="truck.jpg" alt="blue truck in a field" style="width:500px;">
  
  <div class="truck">
  	<h1>What do you need 2PickUp?</h1>
  </div>
  
  <a href="/login">Login</a> OR <a href="/signup">Sign up</a>
</div>
